* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

#container {
    background-color: yellow;
    
}

.main {
    background-color: red;
    
}

.expression {
    background-color: dodgerblue;
    font-size: 40px;
    color: white;
    text-align: center;
}

.imageSimpsons {
    width: 100%;
}

.header{
    margin: 0 300px 0 300px;
}

.box{
    margin: 0 300px 0 300px;
   display: flex;
   flex-direction: row;
   align-items: baseline;
   background-color: white;
}

.nav {
    margin-top: 15px;
    text-align: center;
}
ul {
     
     list-style: none;
     background-color: dodgerblue;
     color: white;
     width: 150px;
     height: 120px;
     text-align: center;
     padding: 7px;
     margin: 10px;
}

li{
    margin: 2px;
   
    
}


.lien{
    
    color: white;
}

    
     

h1 {
    margin:15px 0 15px 0;
    color: hsla(60, 91%, 46%, 0.973);
    font-weight: bolder;
}

.text {
    text-align: justify;
}

.image{
    text-align: center;
    height: 100%;
}

.imageAuteur {
    margin-top: 10px;
    width: 100px;
    border: 1px solid white;
    
}

.legende{
    padding: 5px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.asidetext{
    color: white;
    text-align: center;
    padding: 10px;
    text-align: justify;
    
    
}
    

.descriptionauteur {
    border-radius: 5px;
    background-color: dodgerblue;
    margin: 10px;
    
}

footer{
    margin: 0 300px 0 300px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
}


@media only screen and (max-width: 1100px) {
    .header{
        margin: 1px;
    }
    .box{
        margin: 1px;
       display: flex;
       flex-direction: column;
       align-items: center;
       
      
    }
    footer{
        margin: 0px;
        background-color: blue;
        color: white;
        text-align: center;
        padding: 1px;
        width: 100%;
    }

    .text {
       overflow: hidden;
       margin-left: 10px;
       margin-right: 10px;

    }
    ul {
     
        width: 250px;
       
    }
    nav {
        margin-top: 15px;
       
    }
   
      
     
}

@media only screen and (max-width: 767px) {
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}

